<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <!-- Show Users -->
    <div>
        <th:block th:each="user : ${users}">
            <form th:method="DELETE" th:action="@{/users_s/{id}(id=${user.getId()})}">
                <p style="display:inline" th:text="${user.toString()}"></p>
                <input type="submit" value="Delete"/>
            </form>
        </th:block>
    </div>
    </br>
    </br>
    <!-- Add new user -->
    <h3>Create new user</h3>
    <form th:method="POST" th:action="@{/users_s}" th:object="${user}">
        <label for="name">Name: </label>
        <input type="text" th:field="*{firstName}" id="name"/>
        <br/>
        <label for="lastname">Lastname: </label>
        <input type="text" th:field="*{lastName}" id="lastname"/>
        <br/>
        <label for="age">Age: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <br/>
        <input type="submit" value="Add user"/>
    </form>
    </br>
    </br>
    <!-- Edit user by id -->
    <h3>Edit user by id</h3>
    <form th:method="PATCH" th:action="@{/users_s}" th:object="${user}">
        <select class="form-control" name="id">
            <option value="">Select id</option>
            <option th:each="user : ${users}"
                    th:value="${user.getId()}"
                    th:text="${user.getId()}">
            </option>
        </select>
        <br/>
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{firstName}" id="name"/>
        <br/>
        <label for="lastname">Enter lastname: </label>
        <input type="text" th:field="*{lastName}" id="lastname"/>
        <br/>
        <label for="age">Enter age: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <br/>
        <button type="submit">Edit</button>
    </form>
</body>
</html>